{% extends "base.html" %}

{% block add_js %}
<script type="text/javascript">
    app.active_menu = 'admin';

    $(function () {
        $('div.card-content a.delete').click(function () {
            if (!confirm('Удалить?')) {
                return false;
            }
            var a = $(this);
            var delguid = a.data('delguid');
            a.prop('disabled', true);
            $.ajax({
                url: '/admin/delete/' + delguid,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    a.prop('disabled', false);
                    var success = data.success;
                    var text = success ? 'Удалено' : data.message;
                    Materialize.toast(text, 1000);
                    if (success) {
                        a.parents('div.card').hide().remove();
                        if (!$('div.card').length) {
                            window.location.reload();
                        }
                    }
                },
                error: function (error) {
                    console.error(error);
                    a.prop('disabled', false);
                }
            });
            return false;
        });

        $('a.approve-images').click(function () {
            var guids = [];
            $('div.card').each(function (i, image) {
                guids.push($(image).data('guid'));
            }).toArray();

            if (!guids.length) {
                return false;
            }
            $.ajax({
                url: '/admin/approve',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    guids: guids
                }),
                success: function (data) {
                    var success = data.success;
                    var text = success ? 'Утверждено' : data.message;
                    Materialize.toast(text, 1000);
                    if (success) {
                        window.location.reload();
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}
<div>
    {% if images.length %}
    <div class="row">
        {% for image in images%}
        <div class="col s12 m3 l2">
            <div class="card small" data-guid="{{ image.guid }}">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href='{{imageRouter.resolveImagePageUrl(image)}}' target="_blank">
                        {% if image.preview %}
                        <img src='{{imageRouter.resolvePreviewUrl(image)}}' alt=''>
                        {% else %}
                        <img src='{{imageRouter.resolveImageUrl(image)}}' alt=''>
                        {% endif %}
                    </a>
                </div>

                <div class="card-content">
                    <a class="right btn-floating red delete" title="Удалить" data-delguid="{{ image.deleteGuid }}"
                       href="{{imageRouter.resolveDeletePageUrl(image)}}">
                        <i class="material-icons right">close</i>
                    </a>
                    <small>{{image.width}} x {{image.height}}, {{image.filesize|fileSize}}</small>
                    <br>
                    <small>{{ image.date|date('Y.m.d') }} @ {{ image.ip }}</small>
                    <br>
                    <small>user ID: {{ image.uploaduserid|default('anonimus') }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col s12">
            <a class="left waves-effect waves-light btn approve-images">утвердить</a>
        </div>
    </div>
    <div class="col s12 center-align">
        <div class="paginator">
            {% include '../snippet/pagination.html' with pagination only %}
        </div>
    </div>

    {% else %}
    <div class="row">
        <div class="col s12 center align">
            <h6>Нет новых картинок.</h6>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}