{% extends "../layout.html" %}

{% block add_js %}
    app.active_menu = 'my';
    $(function(){
        $('div.codes input.text,p.group-title>input').bind('focus click mouseover', function(){
            this.select(0,0);
        });
    });
{% endblock %}

{% block content %}

{% if messages.rejectedImages %}
    {% include '../snippet/rejected-images.html' with messages only %}
{% endif %}

{% if images[0].group and images[1] %}
<p class='group-title'>
    <b>Адрес группы картинок:</b>
    <input size='50' value='{{baseUrl}}/images/{{images[0].path_date}}/{{images[0].group}}' readonly="readonly">
</p>
{% endif %}

{% for image in images %}
<div class='detail group'>
    <a href='/{{paths.images}}/{{image.path_date}}/{{image.filename}}' target='_blank' class='poster_link'>
        {% if image.preview %}
        <img class='image' src='/{{paths.previews}}/{{image.path_date}}/{{image.filename}}' alt=''>
        {% else %}
        <img class='image' src='/{{paths.images}}/{{image.path_date}}/{{image.filename}}' alt=''>
        {% endif %}
        <br>
        {{image.width}}px x {{image.height}}px, {{image.filesize|fileSize}}
    </a>
    <div class='codes'>
        <div class='image'>
            <b>Прямой адрес:</b>
            <input class='text' value='{{baseUrl}}/{{paths.images}}/{{image.path_date}}/{{image.filename}}' readonly="readonly">
            <b>BB-код:</b>
            <input  class='text' value='[url={{baseUrl}}/{{paths.images}}/{{image.path_date}}/{{image.filename}}][img]{{baseUrl}}/{{paths.images}}/{{image.path_date}}/{{image.filename}}[/img][/url]' readonly="readonly">
        </div>
        {% if image.preview %}
        <div class='preview'>
            <b>Прямой адрес эскиза:</b>
            <input  class='text' value='{{baseUrl}}/{{paths.previews}}/{{image.path_date}}/{{image.filename}}' readonly="readonly">
            <b>BB-код для эскиза:</b>
            <input  class='text' value='[url={{baseUrl}}/{{paths.images}}/{{image.path_date}}/{{image.filename}}][img]{{baseUrl}}/{{paths.previews}}/{{image.path_date}}/{{image.filename}}[/img][/url]' readonly="readonly">
        </div>
        {% endif %}
        {% if user && (user.userID == image.uploaduserid) %}
        <div>
            <b>Адрес удаления картинки:</b>
            <br>
            <input class='text' style="display: inline; width:  330px;" value='{{baseUrl}}/delete/{{image.path_date}}/{{image.deleteGuid}}' readonly="readonly">
            <form style='display: inline;' action="/delete/{{image.path_date}}/{{image.deleteGuid}}" method="post" onsubmit="return confirm('Удалить?');">
            <input type="submit" name="delete" value="удалить" style='display: inline;width: auto; cursor: pointer;'>
            </form>
        </div>
        {% endif %}
    </div>
    <div class='clear'></div>
</div>
{% endfor %}

{% if images[0].group and images[1] %}
<div class='hr'></div>
<textarea rows='10' style='width: 100%;'>{% for image in images %}{{baseUrl}}/{{paths.images}}/{{image.path_date}}/{{image.filename}}{% if not loop.last %}
{% endif %}{% endfor %}
</textarea>
{% endif %}

{% endblock %}