<?xml version="1.0" encoding="UTF-8"?>
<imagehost>
    {% for image in rejectedImages -%}
    <file>
        <error>{{image.file.originalname|e}}: {{image.error|tr|e}}</error>
    </file>
    {%- endfor %}
    {% for image in processedImages -%}
    <file>
        <url>{{imageRouter.resolveImageUrl(image, baseUrl)}}</url>
        <delurl>{{imageRouter.resolveDeletePageUrl(image, baseUrl)}}</delurl>
        <width>{{image.width}}</width>
        <height>{{image.height}}</height>
        <size>{{image.size|fileSize}}</size>
        <preview_url>{% if image.psize %}{{imageRouter.resolvePreviewUrl(image, baseUrl)}}{% endif %}</preview_url>
        <pwidth>{{image.pwidth}}</pwidth>
        <pheight>{{image.pheight}}</pheight>
        <psize>{{image.psize|fileSize}}</psize>
    </file>
    {%- endfor %}
</imagehost>