<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Хостинг картинок - ForPics.ru">
    <meta name="keywords" content="хостинг картинок, imagehost, forpics, фотохостинг, залить картинки бесплатно">
    <meta name='yandex-verification' content='7c99fb65f58925cd' />
    <title>
        {{ title|e|default('Хостинг картинок - ForPics.ru') }}
    </title>
</head>
{% endblock %}

{% block body %}
<body>
<div id="wrapper">
    {% block center %}
    <div id='center'>
        <div id='content'>
            {% block content %}{% endblock %}
        </div>
    </div>
    {% endblock %}
    <div id='footer-padding'></div>
</div>
</body>
{% endblock %}
</html>