<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Хостинг картинок - ForPics.ru">
    <meta name="keywords" content="хостинг картинок, imagehost, forpics, фотохостинг, залить картинки бесплатно">
    <meta name='yandex-verification' content='7c99fb65f58925cd'>
    <title>
        {{ title|e|default('Хостинг картинок - ForPics.ru') }}
    </title>
    {% block add_meta %}
    {% endblock %}
    <link href="/css/style{% if IS_PROD %}.min{% endif %}.css" rel="stylesheet" type="text/css">
    {% block add_css %}
    {% endblock %}
</head>
{% endblock %}

{% block body %}
<body>
<div id="wrapper">
    <header>
        <div id='header'>
            <div id='header-inner'>
                {% if user && user.isAdmin() %}
                <a class='left' title='Перейти в Админку' class='logolink' href='/admin/'>
                    <img src='/images/logo.png' alt='Перейти на главную'>
                </a>
                {% else %}
                <a class='left' title='Перейти на главную' class='logolink' href='/'>
                    <img src='/images/logo.png' alt='Перейти на главную'>
                </a>
                {% endif %}
                <ul id="head-menu">
                    {% block head_menu_items%}
                    {% block head_menu_main %}
                    <li class="menu-item">
                        <a href="/">Главная</a>
                    </li>
                    {% endblock %}
                    {% if user %}
                    {% block head_menu_my %}
                    <li class="menu-item">
                        <a href="/my/" title='Просмотр картинок, залитых мной'>Мои картинки</a>
                    </li>
                    {% endblock %}
                    {% endif %}
                    {% endblock %}
                </ul>

                <ul id="user-menu">
                    {% if user %}
                    <li class="menu-item">
                        Привет,
                        <a href="/my/" class="current">{{ user.username|e }}</a>
                    </li>
                    <li class="menu-item">
                        <form class='inline' action='/user/logout' method='post'>
                            <button class='logout_btn' type="submit" name="logout[]" value="[выйти]" title="Выйти" onclick="return confirm('Действительно выйти?')">выйти</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="menu-item">
                        <a href="/user/login/" class="current">Войти</a>
                    </li>
                    {% endif %}
                </ul>

                <div class='clear'></div>
            </div>
        </div>
    </header>

    {% block center %}
    <div id='center'>
        <div id='content'>
            {% block content %}{% endblock %}
        </div>
    </div>
    {% endblock %}
    <div id='footer-padding'></div>

</div>

<footer>
    <div id='footer'>
        <div id='footer-inner'>
            <p class='right'>
                <b><a href='/'>ForPics.ru &copy; 2011-2016</a></b>
            </p>
        </div>
    </div>
</footer>

<script type='text/javascript' src='/js/jquery-1.6.1.min.js'></script>
{% block add_js %}

{% endblock %}

</body>
{% endblock %}
</html>