<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Хостинг картинок - ForPics.ru">
    <meta name="keywords" content="хостинг картинок, imagehost, forpics, фотохостинг, залить картинки бесплатно">
    <meta name='yandex-verification' content='7c99fb65f58925cd'>
    <title>
        {{ title|e|default('Главная') }} / Хостинг картинок - ForPics.ru
    </title>
    {% block add_meta %}
    {% endblock %}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"
          media="screen,projection">
    <link href="/css/basic{% if IS_PROD %}{% endif %}.css" rel="stylesheet" type="text/css">
    {% block add_css %}
    {% endblock %}
    <script>
        var app = {
            active_menu: 'main',
            userId: {% if user %}{{ user.userID }}{% else %}null{% endif %}
        };
    </script>
</head>
{% endblock %}

{% block body %}
<body>

<header>
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper center-align">
                <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
                    <i class="mdi-navigation-menu"></i>
                </a>
                <a class="page-title">{% block nav_title %}{% endblock %}</a>
            </div>
        </div>
    </nav>

    <ul class="side-nav fixed" id="nav-mobile">
        <li class="">
            <a href="/" title="На главную" id="logo">
                <img width="180" height="40" src="/images/logo.png">
            </a>
        </li>
        <li class="bold main"><a href="/" class="waves-effect waves-teal">Добавить изображение</a></li>
        <li class="bold app"><a href="/FPUploader.exe" class="waves-effect waves-teal">Приложение</a></li>
        {% if user %}
        <li class="bold my"><a href="/my" class="waves-effect waves-teal">Мои изображения</a></li>
        <li class="divider"></li>
        <li class="bold"><a onclick="return confirm('Выйти?')" href="/user/logout" class="waves-effect waves-teal">Выйти</a></li>
            {% if user && user.isAdmin() %}
            <li class="divider"></li>
            <li class="bold admin"><a href="/admin" class="waves-effect waves-teal">Администрирование</a></li>
            {% endif %}
        {% else %}
        <li class="bold login"><a href="/user/login" class="waves-effect waves-teal">Вход</a></li>
        <li class="bold register"><a href="/user/register" class="waves-effect waves-teal">Регистрация</a></li>
        {% endif %}
    </ul>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center-align">
            &copy; 2011&mdash;2017 ForPics.ru
        </div>
    </div>
</footer>

<script type='text/javascript' src='/js/jquery-2.2.0.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type='text/javascript' src='/js/menu.js'></script>
<script type='text/javascript' src='/js/upload.js'></script>
{% block add_js %}
{% endblock %}

</body>
{% endblock %}
</html>