/*
BASIC THINGS
*/
a:focus {
    outline: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    position: relative;
}

header, main, footer {
    padding-left: 240px
}

/*
SIDEBAR
*/

#logo {
    padding-top: 10px;
}

/*
NAVBAR
*/

.top-nav .page-title {
    vertical-align: middle;
    font-size: 22px;
    text-align: center;
}

/*
MAIN SCREEN
*/

.upload.progress {
    visibility: hidden;
    margin: 0;
}

#upload-wrapper {
    position: absolute;
    height: 100%;
    right: 0;
    left: 240px;
    top: 4px;
}

#upload-wrapper .reqs {
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    font-size: small;
}

#upload {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 71px;
    height: 71px;
    margin: 0 auto;
    top: 45%;
}

#upload form {
    height: 100%;
}

#upload input.file {
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
}

#upload #upload-btn {
    position: absolute;
    top: 0;
    background-image: url("../images/upload_button.png");
    width: 71px;
    height: 71px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
}

#upload #upload-btn.hover {
    background-position: 72px 0;
}

/*
LOGIN, REGISTER SCREEN
*/
#login-form, #register-form {
    max-width: 400px;
    margin: 50px auto 0;
}

/*
IMAGE PAGE
*/
/*
div.codes input.text {
    padding-left: 10px;
    padding-right: 10px;
    cursor: text;
}
*/

/*
GALLERY SCREEN
*/


/*
MEDIA QUERIES
*/

@media only screen and (max-width: 990px) {
    header, main, footer {
        padding-left: 0
    }

    #upload-wrapper {
        left: 0;
    }
}