{% extends '../layout.html' %}

{% block nav_title %}Мои изображения{% endblock %}

{% block add_js %}
    app.active_menu = 'my';
{% endblock %}

{% block content %}
<div class="row">
    {% if images.length %}
        {% for image in images%}
        <div class="image">
            <a href='/image/{{ image.path_date }}/{{ image.guid }}' class='poster_link'>
                {% if image.preview %}
                <img class='image' src='/{{paths.previews}}/{{image.path_date}}/{{image.filename}}' alt=''>
                {% else %}
                <img class='image' src='/{{paths.images}}/{{image.path_date}}/{{image.filename}}' alt=''>
                {% endif %}
            </a>
            <br>
            <a href='{{baseUrl}}/{{paths.previews}}/{{image.path_date}}/{{image.filename}}' target='_blank' class='poster_link'>
                {{image.width}} x {{image.height}}, {{image.filesize|fileSize}}
            </a>
        </div>
        {% endfor %}
        {% else %}
        <h5>У вас нет залитых картинок</h5>
        {% endif %}
    </h4>
    <br>
    <div class="paginator">
        {{ pagination.render() }}
    </div>
</div>
{% endblock %}