{% extends '../layout.html' %}

{% block nav_title %}Регистрация{% endblock %}

{% block add_js %}
<script>
app.active_menu = 'register';
</script>
{% endblock %}

{% block content %}
<div class="valign-wrapper">
    <div class="row">
        <div class="col s12">

            {% include '../snippet/messages.html'%}

            <div class="card-panel hoverable" id="register-form">
                <form method="POST" action="">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">perm_identity</i>
                            <input required id="username" type="text" class="validate" value="{{username}}" name="username" size="50" maxlength="50" title="Укажите имя пользователя">
                            <label for="username">Логин</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input required id="password" type="password" class="validate" value="{{password}}" name="password" title="Укажите желаемый пароль" size="50" maxlength="50">
                            <label for="password">Пароль</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input required id="email" type="email" class="validate" value="{{email}}" name="email" title="Укажите ваш email" maxlength="256" size="50">
                            <label for="email">Электропочта</label>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn-flat waves-effect waves-light" type="submit" name="action">
                            Готово
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}