<form method="POST" action="">
    <p class="label">Логин</p>
    <p><input type="text" value="{{username}}" name="username" title="Укажите имя пользователя" size="50" maxlength="50">

    <p class="label">Пароль</p>
    <p><input type="password" value="{{password}}" name="password" title="Укажите желаемый пароль" size="50" maxlength="50">

    <p class="label">Снова пароль</p>
    <p><input type="password" value="{{password2}}" name="password2" title="Повторите пароль" size="50" maxlength="50">

    <p class="label">Электропочта</p>
    <p><input type="text" value="{{email}}" name="email" title="Укажите ваш email" maxlength="256" size="50">
    <br><br>
    <input type="submit" value="Зарегистрироваться" name="regbtn" class="submit">
</form>